PORT=3333
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=sua_senha_aqui
DB_PASS=sua_senha_aqui
DB_NAME=kora_events
JWT_SECRET=TROQUE_ESTA_CHAVE_JWT_MIN_32_CHARS
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=kora_refresh_secret_jwt_key_change_in_production_32chars
JWT_REFRESH_EXPIRES_IN=30d
FRONTEND_URL=http://localhost:5173
STORAGE_PATH=./uploads
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu@email.com
SMTP_PASS=sua_senha_smtp
SMTP_FROM="Kora Events <noreply@koraevents.com>"
APP_URL=http://localhost:3333
